<div class="container" id = "question">
  <h1 class = "question_category"><%=@question.category.capitalize %> <%= @question.value %></h1>
  <h1 class = "question_quetion"><%= @question.question %></h1>
</div>